In [ ]:
#display
print("Hello World!")

Hello World!

#Types & Basic Syntax

In [ ]:
#variables
x=6 #number ("int")
y=x*7
print("6 times 7 is: " + str(y)) #str(y) "casts" y (an integer type) to a string type

6 times 7 is: 42

In [ ]:
#python types are flexible, but they are not invulnerable! This should error.
print("6 times 7 is: "+y)

TypeError: ignored

In [ ]:
#input
name=input("Name: ") #name is a string
age_str=input("Age: ")
#age_str is a string, not an integer. We have to convert
age=int(age_str)
age=age+10
#alternative synatx for print
print("Hi %s, in 10 years you will be %d years old." % (name, age))

Name: Bob
Age: 15
Hi Bob, in 10 years you will be 25 years old.